page-dashboard {

  .item-block{
    width: 75%;
  }
  .item {
    border: 1px solid black;
    font-size: 1.4rem;
    height: 100px;
    margin-top: 60px;
    margin-left: 10%;
    background-color: #e0e0e0;
  }

}
